@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable scroll for the whole page */
.disable-scroll {

  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; /* Adjust the z-index according to your layout */

}